.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.switch_view {
  display: flex;
  justify-content: center;
}

.view {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #9F9EEE;
  padding: 7px 25px;
  border-bottom: 2px solid #9F9EEE;
  cursor: pointer;
}

.active_view {
  color: #150B4D;
  border-bottom: 2px solid #150B4D;
  cursor: default;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
  margin-top: 5px;
}

.new_proxy {
  position: fixed;
  right: 100px;
  bottom: 10px;
  width: 70px;
  height: 70px;
  background: linear-gradient(117.58deg, #CB88FF -8.22%, #FF8AA6 62.35%, #F9A279 131.36%);
  box-shadow: 0px 4px 37px rgba(54, 33, 132, 0.5);
  border-radius: 50%;
  cursor: pointer;
  font-size: 64px;
  color: #FFFFFF;
  text-align: center;
  line-height: 70px;
  transition: all .2s;

  &:hover {
    box-shadow: 0px 4px 37px rgba(54, 33, 132, 0.3);
  }
}
