.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    background: #FFFFFF;
    box-shadow: 0 4px 37px rgba(54, 33, 132, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 60px;
}

.wallets {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 22px;
    margin-top: 40px;
}

.wallet_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 343px;

    & > p {
        width: 280px;
        text-align: center;
    }
}

.wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 343px;
    height: 145px;
    background: #FFFFFF;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 37px rgba(54, 33, 132, 0.2));
    padding: 35px;
    cursor: pointer;
    transition: all .2s;

    p {
        font-weight: 700;
        font-size: 26px;
        line-height: 130%;
        color: #150B4D;
    }

    &:hover {
        filter: drop-shadow(0px 4px 37px rgba(54, 33, 132, 0.3));
    }
}

.button_wrapper {
    width: 100%;
    margin-top: 30px;
}

.loader_wrapper {
    position: relative;
    width: 135px;
    height: 135px;
    margin-top: 30px;
}

.loader {
    width: 100%;
    height: 100%;
    background: url('/assets/loader.png') center/contain no-repeat;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1.5s linear infinite;
}

.loader_icon {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('/assets/metamask.svg') center/contain no-repeat;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
