.heading {
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.56), rgba(255, 255, 255, 0.56)), linear-gradient(112.95deg, #5755FF -13.39%, #FF8AA6 118.44%);
    font-weight: 700;
    font-size: 60px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 37px rgba(54, 33, 132, 0.11), 0px 4px 37px rgba(54, 33, 132, 0.11);
    backdrop-filter: blur(20px);
    margin: 0 0 25px;
}

.advs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1%;
    margin-top: 40px;
}

.adv {
    position: relative;
    width: 32%;
    height: 370px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}
