.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background: #FFFFFF;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 37px rgba(54, 33, 132, 0.11), 0px 4px 37px rgba(54, 33, 132, 0.11);
  border-radius: 20px;
  padding: 10px;
}

.top {
  display: flex;
  gap: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 37px rgba(54, 33, 132, 0.11), 0px 4px 37px rgba(54, 33, 132, 0.11);
  border-radius: 15px;
  padding: 11px 14px;
}

.img {
  position: relative;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.bottom {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 37px rgba(54, 33, 132, 0.11), 0px 4px 37px rgba(54, 33, 132, 0.11);
  border-radius: 15px;
  padding: 12px 14px;

  p {
    line-height: 120%;
  }
}

.label {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #9F9EEE;
  margin: 0;
}
